body {
      font-family: 'Playfair Display', serif;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      text-align: center;
      background: #fff0c4;
      padding: 20px;
      background-repeat: repeat;
      background-size: auto; /* ou 'cover' se quiser preencher toda a tela */
      background-attachment: fixed; /* opcional: deixa o fundo fixo */
      background-image: url("../img/8A00008A0000.jpeg");
    }
    .container {
      max-width: 600px;
      background: #a11a1a;
      padding: 30px;
      border-radius: 20px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    }
    h1 {
      color: #fff0c4;
      margin-bottom: 20px;
    }
    p {
      font-size: 1.1rem;
      margin: 10px 0;
      color: #fff0c4;
    }
    .versiculo {
      font-style: italic;
      margin-top: 20px;
      color: #333;
    }

    @media (max-width: 600px) {
  .container {
    padding: 20px;
    border-radius: 12px;
  }

  h1 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1rem;
  }
}